{{! SLIDER IMAGENES }}
<div
  id="carouselExampleInterval"
  class="carousel slide carousel-dark carousel-fide"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="5000">
      <img
        src="imagenes/slider1compu.jpg"
        class="d-block w-100 imagen-slider"
        alt="..."
      />
    </div>
    <div class="carousel-item" data-bs-interval="5000">
      <img
        src="imagenes/slider2compu.jpg"
        class="d-block w-100 imagen-slider"
        alt="..."
      />
    </div>
    <div class="carousel-item" data-bs-interval="5000">
      <img
        src="imagenes/slider3compu.jpg"
        class="d-block w-100 imagen-slider"
        alt="..."
      />
    </div>
  </div>

  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleInterval"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleInterval"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="container my-4">
  <div class="row justify-content-center">
    <div class="col-12 mb-4">
      <h3 class="titulo-productos">Computadoras de Escritorio</h3>
    </div>
  </div>
  <div class="contenedor-productos">
    {{#each productos}}
      <a href="/producto?id={{this.id}}">
        <div class="tarjeta-producto">
          <div class="tarjeta-producto-imagen">
            <img src="imagenes/{{this.foto}}" alt="" />
          </div>
          <div class="tarjeta-producto-contenido">
            <div class="descuento">
              <span class="descuento">{{this.descuento}}% OFF</span>
            </div>
            <div class="info">
              <p class="precio">${{this.precio}}</p>
              <p class="financiacion">{{this.financiacion}}</p>
              <p class="nombre">{{this.nombre}}</p>
            </div>
          </div>
        </div>
      </a>
    {{/each}}
  </div>
  <div class="row justify-content-end">
    <div class="col-3 d-flex justify-content-end">
      <a href="/productos?categoria=pc_escritorio" class="link-ver-mas">Ver todos
        <i class="fas fa-chevron-right"></i></a>
    </div>
  </div>
</div>