<div class="detalles-producto">
  <div class="contenedor-detalles-producto">
    <div class="imagen-producto">
      <img src="imagenes/{{producto.foto}}" alt="" />
    </div>
    <div class="info-producto">
      <h4 class="productoNombre">{{producto.nombre}}</h4>
      <p class="productoPrecio precio">${{producto.precio}}</p>
      <p class="productoFinanciacion">{{producto.financiacion}}</p>
      <p class="productoStock">Disponible:{{producto.cantidad}}</p>
      <div class="botones">
        <button class="btn btn-primary">Comprar</button>
      </div>
    </div>
  </div>

  <div class="descripcion-producto">
    <h4>Descripcion:</h4>
    <p>{{producto.descripcion}}</p>
  </div>
</div>

<br /><br /><br />